<h1>{{vm.description}} Dashboard</h1>
<div class="row">
    <div class="col-sm-4 col-lg-4">

        <h3>Recent : </h3>
    </div>
</div>

<div class="row">
    <div ng-repeat="note in vm.topFive">

        <div ng-include="'app/note/note.card.html'"></div>

    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-lg-4">
        <h3>Most Viewed : </h3>
    </div>
</div>

<div class="row">
    <div ng-repeat="note in vm.topFiveViewed">

        <div ng-include="'app/note/note.card.html'"></div>

    </div>
</div>