<h1>{{vm.description}} Dashboard</h1>
<hr/>

<div class="row">
    <div class="col-sm-4 col-lg-4">

        <h3>Recent : </h3>
    </div>
</div>

<hr/>

<div class="row">
    <div ng-repeat="note in vm.top">
        <div ng-include="'app/public/note.card.html'"></div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-4 col-lg-4">
        <h3>Most Viewed : </h3>
    </div>
</div>

<hr/>

<div class="row">
    <div ng-repeat="note in vm.topViewed">
        <div ng-include="'app/public/note.card.html'"></div>
    </div>
</div>