<h4>

    <ol class="breadcrumb">
        <li><a ui-sref="public">Home</a></li>
        <li class="active">
            <span class="form-header">Person</span>
        </li>
    </ol>
</h4>

<notification ng-if="vm.message.body" message="vm.message"></notification>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left">
            <button class="btn btn-primary" ui-sref="person.new">
                <span class="fa fa-plus"></span>
                    <span>
                        Add new Person
                    </span>
            </button>
        </div>
    </div>
</div>
<br/>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in vm.persons">
            <td>{{person.id}}</td>
            <td>{{::person.firstName}} {{::person.midName}} {{::person.lastName}}</td>
            <td>{{::person.email}}</td>
            <td>
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="note({personId:person.id})"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-xs hidden-sm">View Notes</span>
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="person.detail({id:person.id})"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-xs hidden-sm">View Person</span>
                    </button>
                    <button type="submit"
                            ui-sref="person.duplicate({id:person.id})"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-copy"></span>
                        <span class="hidden-xs hidden-sm">Duplicate</span>
                    </button>
                    <button type="submit"
                            ui-sref="person.edit({id:person.id})"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-xs hidden-sm">Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="vm.remove(person)"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-xs hidden-sm">Delete</span>
                    </button>
                </div>
            </td>
        </tr>


        </tbody>

    </table>
</div>